body{
  background-color: #F8FFDB;
  padding-right: 200;
}

.bgdiv{
  background-image: url("programming.jpg");
  height: 490px;
  width: 100%;
}
.Myphoto{
  padding-top: 60px;
  margin-left: 100px;
}

.into{
  margin-left: 100px;
  margin-top: 10px;
  width: 20%;
  height: 220px;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
}
.in{
  height: 300px;
  background-color: #F1DEC9;
}
.into2{
  margin-top: 10px;
  width: 60%;
  height: 220px;
  font-size: 20px;
  margin-left: 10px;
  font-style: oblique;
  position: relative;
  display: inline-block;
}

.btn {
  background-color: #2C3639;
  border-color: #ECB365;
  border-style: inset;
  border-radius: 10px;
  border-width: 4px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: sans-serif;
  margin: 4px 2px;
  cursor: pointer;
}
.skill{
  background-color: #B9F3FC;
  margin: 0;
  height: 230px;
  width: 100%;
}
.ali{
  padding-left: 450px;
}
.ali2{
  padding-left: 475px;
}
.skl{
  width: 100%;
  height: 250px;
  background-color: #FBF8F1;
}
.si{
  background-color: #FBF8F1;
  height: 120px;
  width: 100%;
  margin-left: 50px;
}
.soft2{
  font-size: 26px;
  font-style: oblique;
}
.soft{
  padding-top: 5px;
  font-size: 26px;
  margin-left: 60px;
  padding-bottom: 10px;
}

.tab2{
  tab-size: 4;
}
.skl2{
  width: 100%;
  height: 220px;
  background-color: #F5EBEB;
}
.edu{
  height: 150px;
  width: 150px;
  margin-left: 20px;
  margin-top: 35px;
}
.iubinfo{
  font-size: 18px;
  font-style: oblique;
  margin-left: 20px;
}
hr{
  background-color: #F67280;
  border-style: dotted, double, none;
  height: 5px;
  width: 100%;
  margin: 0;
}
h1{
  font-style: oblique;
  color: white;
}
h4{
  font-style: oblique;
  font-family: sans-serif;
  color: white;
}
